/* 1. Inicializa Tailwind v4 */
@import "tailwindcss";

/* 2. Escanea tus componentes de la librería */
@source "../lib/**/*.{ts,tsx}";

/* 3. Trae TODO el tema, las variables :root, el @theme y las animaciones de la librería */
@import "../lib/styles/globals.css";

/* 4. Utilidades exclusivas de la app de pruebas (opcional) */
@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}