@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--bg-base);
  --color-surface: var(--bg-surface);
  --color-muted: var(--bg-muted);
  --color-border: var(--border-default);
  --color-border-strong: var(--border-strong);
  --color-border-sidebar: var(--border-sidebar);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-soft: var(--accent-soft);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-text-disabled: var(--text-disabled);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-error: var(--alert-error);
  --color-success: var(--alert-success);
  --color-info: var(--alert-info);
  --color-warning: var(--alert-warning);
  --color-text-error: var(--text-error);
  --color-text-success: var(--text-success);
  --color-text-warning: var(--text-warning);
  --color-text-info: var(--text-info);
}

:root {
  /* Fondos */
  --bg-base: #f8f8f8;
  --bg-surface: #FFFFFF;
  --bg-muted: #EBEEF2;

  /* Color Marca */
  --primary: #2D2D2E;
  --primary-hover: #3A3A3C;
  --accent: #5E17A6;
  --accent-hover: rgba(124, 58, 237, 0.33);
  --accent-soft: rgba(94, 23, 166, 0.12);

  /* Color Texto */
  --text-primary: #2D2D2E;
  --text-secondary: #6B7280;
  --text-muted: #737479;
  --text-disabled: #D1D5DB;

  /* Color Bordes */
  --border-default: #E5E7EB;
  --border-strong: #C084FC;
  --border-sidebar: #E0E0E0;

  --shadow-surface: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.06);

  /* Color de gráficos */
  --chart-1: #7B3BC2;
  --chart-2: #5E17A6;
  --chart-3: #A855F7;
  --chart-4: #C084FC;
  --chart-5: #E9D5FF;
  --chart-6: #38BDF8;

  /* Color de Alertas*/

  --alert-error: #fee2e2;
  --alert-warning: #FEF9C3;
  --alert-info: #DBEAFE;
  --alert-success: #DCFCE7;

  /* Color texto y bordes Alertas */

  --text-error: #e7000b;
  --text-success: #00a63e;
  --text-warning: #d08700;
  --text-info: #155dfc;


}

.dark {
  /* Fondos */
  --bg-base: #0A0A0B;
  --bg-surface: #1A1A1B;
  --bg-muted: #2A2A2B;

  /* Color Marca */
  --primary: #FAFAFA;
  --primary-hover: #F4F4F5;
  --accent: #7B3BC2;
  --accent-hover: rgba(124, 58, 237, 0.18);
  --accent-soft: rgba(124, 58, 237, 0.12);

  /* Color Texto */
  --text-primary: #EDEDED;
  --text-secondary: #CACADB;
  --text-muted: #B6B6C4;
  --text-disabled: #52525B;

  /* Color Bordes */
  --border-default: #262626;
  --border-strong: #C084FC;
  --border-sidebar: #301942;

  /* Color de gráficos */
  --chart-1: #7B3BC2;
  --chart-2: #5E17A6;
  --chart-3: #A855F7;
  --chart-4: #C084FC;
  --chart-5: #E9D5FF;
  --chart-6: #38BDF8;
  --chart-7: #0EA5E9;

  /* Color de Alertas*/

  --alert-error: rgba(153, 27, 27, 0.1);
  --alert-warning: rgba(133, 77, 14, 0.1);
  --alert-info: rgba(30, 64, 175, 0.1);
  --alert-success: rgba(22, 101, 52, 0.1);

  /* Color texto y bordes Alertas */

  --text-error: #e7000b;
  --text-success: #00a63e;
  --text-warning: #d08700;
  --text-info: #155dfc;

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text-primary;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading), sans-serif;
  }

  .scrollbar-soft::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-soft::-webkit-scrollbar-thumb {
    background: var(--bg-muted);
    border-radius: 9999px;
  }


}